.box1{
 border:20px solid black;
 display:block;
 margin:30px;
}
.box2{
   border:20px solid red;
   display:inline;
   margin:40px;
}
.box3{
    display:inline-block;
    margin:20px;
    border:30px solid blueviolet;
    
}