.box1{
 border:20px solid black;
 display:block;
 margin:30px;
}
.box2{
   border:20px solid purple;
   display:inline;
   margin:50px;
}
.box3{
    display:inline-block;
    margin:30px;
    border:30px solid black;
    
}