*{
   margin: 0px;
   padding: 0px; 

}
.box{
    color:red;
    margin:60px;
    border:40px solid black;
    padding:50px;
    
}
.model{
    color:blue;
    margin:10px;
    padding:10px;
    border:60px solid black;
    border-style:ridge;

}